@inherits LayoutComponentBase

<FluentDesignTheme @bind-Mode="@Mode"
                   StorageName="theme" />

<FluentLayout>
    <FluentHeader>
        <FluentSpacer />
        fuibDotNet8
		<FluentSpacer />
         <FluentSwitch Label="Dark Mode"
                      Value="@IsDarkMode"
                      ValueChanged="HandleDarkModeChanged" />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        
        
        <FluentSpacer />
        @Mode
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

@code
{
    bool IsDarkMode;
    protected override void OnInitialized()
    {
        HandleDarkModeChanged(false);
    }
	public DesignThemeModes Mode { get; set; }
	

    private void HandleDarkModeChanged(bool value)
    {
        IsDarkMode = value;
        Mode = value ? DesignThemeModes.Dark : DesignThemeModes.Light;
    }
}